# Built-in Python Functions
In Python, there is a basic set of about 70 functions called built-in functions. Many of them are shortcuts that make your everyday programming a lot easier. Here, the 25 most important ones are given.


# type conversion	I/O	math	iterables	introspection

int	       print abs	range	type
float	   input round	len	
str	       open	 sum	sorted	
bool	    min	reversed	
tuple	   max	enumerate	
list			 zip	
dict			 filter	
set

In [31]:
def find_name(data, name, year):
    '''Returns records from a dictionary (data) of a baby name (name) in a given year (year).'''
    
    result = [] # define empty list

    for record in data[year]: # loop through given year
        if record[0] == name: # check if name in element
            result.append(record) # append to list
            
    return result # return the list

In [30]:
babynames = { 1985 : [('Rachel','F',16362) , ('Naomi','F',1078) , ('Estefania','F',22) ,
                      ('Juluis','M',12) , ('Tyrone','M',22) , ('Rachel','M',77)],

              2000 : [('Rachel','F',10680) , ('Naomi','F',1756) , ('Estefania','F',232) ,
                      ('Juluis','M',485) , ('Tyrone','M',607) , ('Rachel','M',12)],

              2015 : [('Rachel','F',1934) , ('Naomi','F',3772) , ('Estefania','F',195) , 
                      ('Juluis','M',1146) , ('Tyrone','M',233) , ('Naomi','M',5)] 
            }

In [22]:
# The input arguments are matched with the parameters of the function:

find_name(babynames, 'Rachel', 1985)

[('Rachel', 'F', 16362), ('Rachel', 'M', 77)]

In [23]:
find_name(data=babynames, name='Rachel', year=1985)

[('Rachel', 'F', 16362), ('Rachel', 'M', 77)]

In [24]:
# You can also store the result of a function call in a new variable:

rachel_stats = find_name(babynames, 'Rachel', 1985)
print(rachel_stats)

[('Rachel', 'F', 16362), ('Rachel', 'M', 77)]

In [25]:
# You can also store the result of a function call in a new variable:

rachel_stats = find_name(babynames, 'Rachel', 1985)
print(rachel_stats)

[('Rachel', 'F', 16362), ('Rachel', 'M', 77)]

In [26]:
# You can also store the input value in a variable before passing it into the function:

forename = 'Naomi'
born = 2015

find_name(babynames, forename, born)

[('Naomi', 'F', 3772), ('Naomi', 'M', 5)]

In [27]:
# we can call the keys

babynames[2000]

[('Rachel', 'F', 10680),
 ('Naomi', 'F', 1756),
 ('Estefania', 'F', 232),
 ('Juluis', 'M', 485),
 ('Tyrone', 'M', 607),
 ('Rachel', 'M', 12)]

In [12]:
# this will take the 0 (or, the first) element from the '2000' list

babynames[2000][0]

('Rachel', 'F', 10680)

# Tasks

In [48]:
import pandas as pd # DON'T FORGET TO IMPORT PANDAS FIRST!!!

df = pd.read_csv('../data/yob1880.txt') # this is the path in my computer. I need this to be able to open the data
df

           Mary  F  7065
0          Anna  F  2604
1          Emma  F  2003
2     Elizabeth  F  1939
3        Minnie  F  1746
4      Margaret  F  1578
...         ... ..   ...
1994     Woodie  M     5
1995     Worthy  M     5
1996     Wright  M     5
1997       York  M     5
1998  Zachariah  M     5

[1999 rows x 3 columns]

In [42]:
# task 1

def make_path(year):
    path = f'./data/yob{year}.txt'
    return path

In [44]:
make_path(1985)

'./data/yob1985.txt'

In [ ]:
# task 2

def read_year(___):
    df = pd.____csv(path, ____=['name', 'gender', 'frequency'])
   return df

# Project Challenges

In [50]:
def parse_dataset(year):
    path = (f'./data/yob{year}.txt', index_col=0) 
    df_1880 = pd.read_csv('./data/yob1880.txt')
    
    return path

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (644130165.py, line 2)