In [3]:
# first: import pandas! 

import pandas as pd

# Data frames

In [4]:
# create a list of lists
data = [['john', 25], ['diane', 30], ['jane', 24], ['lisa', 48]] # this is a dictonery

 
# Create the pandas DataFrame and give the column names 'name' and 'age' using a list 
df = pd.DataFrame(data, columns = ['name', 'age'])

# df stands for data frame # DataFrame is a panda function that creates a data frame (like a chart for example)

# print the output
df

    name  age
0   john   25
1  diane   30
2   jane   24
3   lisa   48

In [5]:
# create a list of dictionaries
data = [{'name': 'john', 'age': 25},
        {'name': 'diane', 'age': 30},
        {'name': 'jane', 'age': 24},
        {'name': 'lisa', 'age': 48}
        ]

# create the dataframe. every dictionary becoes a row

df2 = pd.DataFrame(data)
df2

    name  age
0   john   25
1  diane   30
2   jane   24
3   lisa   48

In [8]:
# show the row index
df.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
# what is the type of the index
type(df.index)

pandas.core.indexes.range.RangeIndex

In [7]:
# show column index

df.columns

Index(['name', 'age'], dtype='object')

In [6]:
# show me a report about my data frame

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   age     4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 196.0+ bytes

## Reading external files into dataframes

In [12]:
# Pull informaiton from a file on my computer

large_countries = pd.read_csv('../data/large_countries_2015.csv') #  csv is a comma seperated file. We are define a name here to access the data
large_countries # --> and then- print it :)

          country    population  fertility      continent
0      Bangladesh  1.609956e+08       2.12           Asia
1          Brazil  2.078475e+08       1.78  South America
2           China  1.376049e+09       1.57           Asia
3           India  1.311051e+09       2.43           Asia
4       Indonesia  2.575638e+08       2.28           Asia
5           Japan  1.265735e+08       1.45           Asia
6          Mexico  1.270172e+08       2.13  North America
7         Nigeria  1.822020e+08       5.89         Africa
8        Pakistan  1.889249e+08       3.04           Asia
9     Philippines  1.006994e+08       2.98           Asia
10         Russia  1.434569e+08       1.61         Europe
11  United States  3.217736e+08       1.97  North America

In [ ]:
large_countries.head() # displying first 5 rows

In [ ]:
large_countries.tail() # displying last 5 rows

In [ ]:
large_countries.tail(2) # displying the last 2 rows^

In [ ]:
# the pd.read_csv function has many parameters that can change how the data is read

# we can also specify a column as the index

large_countries1 = pd.read_csv('../data/large_countries_2015.csv', index_col=0) # here we make the colum numver 0 the index
large_countries1

In [ ]:
# if you want to save new data with an excisting data frame

large_countries1.to_csv('large_countries_less_rows.csv', index=False)

In [ ]:
! pip install xlrd # install this to be able to read excel files

In [ ]:
life = pd.read_excel()