# Selecting Rows and Columns

- execute command
- using critical thinking, talking to others and any research tools figure out how and what the command does
- make notes in notebook for later reference

### 1. Read Data

In [32]:
import pandas as pd

In [33]:
df = pd.read_csv('./data/yob1880.txt', index_col=0)

### 2. Inspect Data

In [34]:
df.shape

(1999, 2)

In [35]:
df.head(3)

           F  7065
Mary
Anna       F  2604
Emma       F  2003
Elizabeth  F  1939

In [36]:
df.tail(3)

           F  7065
Mary
Wright     M     5
York       M     5
Zachariah  M     5

### 3. Select Columns

In [37]:
df = pd.read_csv('./data/yob1880.txt', index_col=0)

In [38]:
df["gender"]

KeyError: 'gender'

In [ ]:
col_names = ['gender', 'frequency']
df[col_names].head(3)

### 4. Select Rows

In [ ]:
df.loc['Anna']

In [ ]:
df.loc[['Anna', 'John', 'Mary']]

In [ ]:
gender = df.set_index('gender')
gender

In [ ]:
gender.loc['M'].head(3)

In [ ]:
df.iloc[[1, 3, 5]]

In [ ]:
df.iloc[1:5]

In [ ]:
df.iloc[::2]

### 5. Select Both Rows and Columns

In [ ]:
df.loc[['Anna', 'John', 'Mary'], ['frequency']]

In [ ]:
df.iloc[1:5, 0:2]