In [34]:
import pandas as pd

In [35]:
# DIFFERENT FUNCTIONS IN PANDAS !!!

input() - takes input from the user
type() - informs us of the datatype
len() - give the length of an object
list() - converts an object into a list
dict() - converts an object into a dictionary
int() - converts an object into a integer
float() - converts an object into a float
bool() - converts an object into a boolean
sum()- sums up a list of list like object
print() - output to the screen

SyntaxError: invalid syntax (4151326224.py, line 3)

In [38]:
# 1. Read in data:
df = pd.read_csv('./data/yob1880.txt', index_col=0)
df

           F  7065
Mary
Anna       F  2604
Emma       F  2003
Elizabeth  F  1939
Minnie     F  1746
Margaret   F  1578
...       ..   ...
Woodie     M     5
Worthy     M     5
Wright     M     5
York       M     5
Zachariah  M     5

[1999 rows x 2 columns]

In [ ]:
# change header names

df = pd.read_csv('./data/yob1880.txt', names=['sex', 'frequency'])
df

In [ ]:
# 2. display the 'frequency' column

df[["frequency"]]

In [ ]:
df_pop['frequency']

In [ ]:
# 3. display the 'gender' and 'frequency' columns

df[["frequency","sex"]]

In [ ]:
# 4. display the data for row(s) containing William

df.loc['William']

In [ ]:
# 5. display the data for all rows with William, Paul, and Anne

df.loc[['William', 'Paul', 'Anne']]

In [ ]:
# 6. display the 'frequency' column for William, Paul, and Anne

df.loc[['William', 'Paul', 'Anne'], ['frequency']]

In [ ]:
# 7. display the first three names and both columns

df.iloc[[1, 2, 3]]

In [ ]:
# remove columns uding drop() function

df.drop(['sex'], axis =1)

# Filtering dataframes

In [ ]:
import pandas as pd

x = pd.Series([1, 4, 6, 2])
y = pd.Series([9, 2, 3, 2])

In [ ]:
x

In [ ]:
y

In [ ]:
x < y

In [ ]:
x == y

In [ ]:
x >= y

In [ ]:
(x > 2) | (y == 9)

In [ ]:
(x == 2) & (y == 2)

In [ ]:
x.between(4, 6)

In [ ]:
y.isin([2, 9])

In [ ]:
x.isin(y)

In [36]:
df = pd.read_csv('./data/yob1880.txt', index_col=0)

# Filtering example

In [52]:
countries = pd.read_csv('./data/large_countries_2015.csv')

In [53]:
countries

          country    population  fertility      continent
0      Bangladesh  1.609956e+08       2.12           Asia
1          Brazil  2.078475e+08       1.78  South America
2           China  1.376049e+09       1.57           Asia
3           India  1.311051e+09       2.43           Asia
4       Indonesia  2.575638e+08       2.28           Asia
5           Japan  1.265735e+08       1.45           Asia
6          Mexico  1.270172e+08       2.13  North America
7         Nigeria  1.822020e+08       5.89         Africa
8        Pakistan  1.889249e+08       3.04           Asia
9     Philippines  1.006994e+08       2.98           Asia
10         Russia  1.434569e+08       1.61         Europe
11  United States  3.217736e+08       1.97  North America

In [56]:
# filter 

countries['continent'] == "Asia"

0      True
1     False
2      True
3      True
4      True
5      True
6     False
7     False
8      True
9      True
10    False
11    False
Name: continent, dtype: bool

In [41]:
# create boolean filter

countries[countries['continent'] == "Asia"]
Asia = countries[countries['continent'] == "Asia"]
Asia

       country    population  fertility continent
0   Bangladesh  1.609956e+08       2.12      Asia
2        China  1.376049e+09       1.57      Asia
3        India  1.311051e+09       2.43      Asia
4    Indonesia  2.575638e+08       2.28      Asia
5        Japan  1.265735e+08       1.45      Asia
8     Pakistan  1.889249e+08       3.04      Asia
9  Philippines  1.006994e+08       2.98      Asia

In [42]:
# filter all countries with fertility rate gerater than 2.0

fert_gr_2 = countries[countries['fertility'] > 2.0]
fert_gr_2

       country    population  fertility      continent
0   Bangladesh  1.609956e+08       2.12           Asia
3        India  1.311051e+09       2.43           Asia
4    Indonesia  2.575638e+08       2.28           Asia
6       Mexico  1.270172e+08       2.13  North America
7      Nigeria  1.822020e+08       5.89         Africa
8     Pakistan  1.889249e+08       3.04           Asia
9  Philippines  1.006994e+08       2.98           Asia

In [72]:
# filter countries with frertility rate greater than 2.0 and are not in Asia

(countries['fertility'] > 2.0) & (countries['continent'] != "Asia")
boolean_mask = (countries['fertility'] > 2.0) & (countries['continent'] != "Asia")

In [73]:
countries.loc[boolean_mask]

   country   population  fertility      continent
6   Mexico  127017224.0       2.13  North America
7  Nigeria  182201962.0       5.89         Africa

In [74]:
# filter for countries in Asia OR Europe with gertility rate greater than 1.5

boolean_mask = countries['continent'].isin(['Asia', 'Europe'])

# ising work on as single colum like an OR

0      True
1      True
2      True
3      True
4      True
5     False
6      True
7      True
8      True
9      True
10     True
11     True
Name: fertility, dtype: bool

In [76]:
# filter for countries in continents starting with the letter "A"

countries['continent'].str.startswith("A")
boolean_mask = countries['continent'].str.startswith("A")
boolean_mask

0      True
1     False
2      True
3      True
4      True
5      True
6     False
7      True
8      True
9      True
10    False
11    False
Name: continent, dtype: bool

In [77]:
# filter for countries that have a fertility rate between 1.8 and 2.6

boolean_mask_fer= countries['fertility'].between(1.8, 2.6)

In [78]:
countries[boolean_mak_fer]

NameError: name 'boolean_mak_fer' is not defined